
.navbar {
    margin: 8px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    word-spacing: 50px;
    letter-spacing:1px ;
  }
  
  .box_block li {
    list-style: none;
    display: inline;
    font-weight:bolder;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .trade {
    color: orangered;
    text-decoration: none;
    font-weight:790 
  }
  .wrap {
    text-align: center;
  }
  .photo {
    height: 100%;
    width: 100%;
    text-align: center;
  }
.heading-3 {
    text-align: center;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 6px;
    margin: 2%;
    letter-spacing: 1px;
}
    
.paragraph{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', seri;
    letter-spacing: 1px;
    font-size: 17px;
    margin: 25px;
    
}
.button-type{
    text-align: center;
    margin-top: 40px;
}
    .btn {
        width: 180px;
        height: 40px;
        background-color: orangered;
        color: aliceblue;
        border-color: orangered;
        letter-spacing: 2px;
        border-radius: 7px;
        font-size:13px ;
        text-align: center;
    }
    .bottom {
        text-align: right;
        font-weight: bold;
        margin-right: 70px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 50px;
      word-spacing:3px;
    }